/* appointment.css */

.appointment-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #333;
}

.appointment-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.appointment-container form label {
  margin-left: 20px;
  display: block;
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
}

.appointment-container form input[type="text"],
.appointment-container form input[type="email"],
.appointment-container form select {
  margin-left: 20px;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

/* appointment.css */

.appointment-container form label[for="type"] {
  margin-left: 20px;
  display: block;
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
}

.appointment-container form select#type {
  margin-left: 20px;
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.appointment-container form select#type:hover {
  padding: 10px;
  border-radius: 5px;
  border: none;
}


.appointment-container form input[type="date"],
.appointment-container form input[type="time"] {
  margin-left: 20px;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.appointment-container form input:hover,
.appointment-container form select:hover {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.appointment-container form button {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #052357;
  background-color: #052357;
  cursor: pointer;
  color: white;
}

.appointment-container form button:hover {
  margin-top: 20px;
  background-color: black;
  border: 2px solid black;
  font-size: 17px;
  padding: 10px 20px;
}
