/* Login.css */


#login-container {
  background-image: url(../images/background.jpg);
  background-size: cover;
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #333;
  margin-top: 140px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #052357;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
input:hover {
  border: 2px solid #cddaf1;
  box-shadow: 0px 0px 10px #ccc;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(149, 147, 147);
}
a:hover {
  color: #052357;
}
button {
  background-color: #052357;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border: 2px solid #052357;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #051e4b;
  font-size: 15px;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

Link{
    border: none;
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
    color: rgb(149, 147, 147);
  }
Link:hover {
    color: #052357;
    cursor: pointer;
  }
